application/logs/*.txt
node_modules
tmp
database
application/config/email.php
application/config/database.php
application/config/app.php
application/config/config.php
public/license/.licenses
public/bower_components
public/index.php
*.patch
patches/
.idea/
git-svn-diff.py
*.bash
.swp
.buildpath
.project
.settings/*
*.swp
*.rej
*.orig
*~
*.~
*.log